
.form-data{
    margin: 5px;
    height: 10rem;
}

.form-data form input[type ='text'],button{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    background-color: white;
}
.form-data form input[type ='radio'],.radio-button{
    margin: 10px;
    padding: 5px;
}
.form-data form input[type ='radio']{
    color: orange;
}
.form-data form button{
    margin-top: 10px;
    width: 7rem;
    height: 2rem;
    padding: 07px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.form-data form button:hover{
    background-color: orange;
    border: 1px solid rgb(255, 119, 7);
}